<section>
  <div class=" nav-seccion-div ">
    <button (click)="handleLots()" mat-raised-button color="primary" >LOTES</button>
    <button (click)="handleOExpenses()" mat-raised-button color="primary" >GASTOS OPERACIONALES</button>
    <button (click)="handleWorkers()" mat-raised-button color="primary" >TRABAJADORES</button>
    <button (click)="handlePayments()" mat-raised-button color="primary" >PAGOS</button>
  </div>
</section>
<app-lots *ngIf="lost" (readLots)="handleLots()" ></app-lots>
<app-operational-expenses *ngIf="oExpenses" (readOE)="handleOExpenses()" ></app-operational-expenses>
<app-workers *ngIf="workers" ></app-workers>
<app-payments *ngIf="payments" ></app-payments>
