<section>
  <div class=" nav-seccion-div ">
    <button (click)="handleLots()" mat-raised-button color="primary" >LOTES</button>
    <button (click)="handleOExpenses()" mat-raised-button color="primary" >GASTOS OPERACIONALES</button>
    <button (click)="handleWorkers()" mat-raised-button color="primary" >TRABAJADORES</button>
    <button (click)="handleCustomers()" mat-raised-button color="primary" >CLIENTES</button>
  </div>
</section>
<app-lots *ngIf="lost" (readLots)="handleLots()" ></app-lots>
<app-operational-expenses *ngIf="oExpenses" (readOE)="handleOExpenses()" ></app-operational-expenses>
<app-workers *ngIf="workers" (readOE)="handleWorkers()" ></app-workers>
<app-customers *ngIf="customers" (readOE)="handleCustomers()" ></app-customers>
