<app-string-modal [modalString]="modalString" [seeModal]="seeModal" (closeMode)="closeMode()" ></app-string-modal>
<mat-divider></mat-divider>

<div class="card_comp_charge" *ngIf="!seeModal">
  <div>
    <mat-card class="example-card" [@fade] [@detailExpand]="isExpanded ? 'expanded' : 'collapsed'" *ngIf="isExpanded">
      <mat-card-header>
        <mat-card-subtitle>Nuevo Cliente</mat-card-subtitle>
        <mat-card-title>Ingrese un nuevo Cliente</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <section [formGroup]="formEditCustomer" class="example-full-width example-form" appearance="fill">
          <mat-form-field>
            <mat-label>Identificacion</mat-label>
            <input matInput formControlName="identification" required>
            <mat-error
              *ngIf="formEditCustomer.get('identification')?.invalid && (formEditCustomer.get('identification')?.dirty || formEditCustomer.get('identification')?.touched)">
              la identificacion es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" required>
            <mat-error
              *ngIf="formEditCustomer.get('name')?.invalid && (formEditCustomer.get('name')?.dirty || formEditCustomer.get('name')?.touched)">
              El Nombre es requerido
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName" required>
            <mat-error
              *ngIf="formEditCustomer.get('lastName')?.invalid && (formEditCustomer.get('lastName')?.dirty || formEditCustomer.get('lastName')?.touched)">
              El Apellido es requeridas
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email" required>
            <mat-error
              *ngIf="formEditCustomer.get('email')?.invalid && (formEditCustomer.get('email')?.dirty || formEditCustomer.get('email')?.touched)">
              El correo es requeridas
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="phone" required>
            <mat-error
              *ngIf="formEditCustomer.get('phone')?.invalid && (formEditCustomer.get('phone')?.dirty || formEditCustomer.get('phone')?.touched)">
              El Telefono es requeridas
            </mat-error>
          </mat-form-field>
        </section>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <button class="card_actions_button" color="primary" mat-raised-button mat-button
          (click)="handleSaveNew()" [disabled]="formEditCustomer.invalid" >Guardar</button>
        <button class="card_actions_button" color="warn" mat-raised-button mat-button
          (click)="handleNewPayment()">Cancelar</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button *ngIf="!isExpanded" class="card_actions_button" color="primary" mat-raised-button mat-button
    (click)="handleNewPayment()">Nuevo Cliente</button>

  <mat-divider></mat-divider>

  <mat-card *ngFor="let customer of customers" class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Clientes</mat-card-subtitle>
      <mat-card-title>
        <mat-card-title> {{ customer.NOMBRE }} {{ customer.APELLIDO }}</mat-card-title>
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="oe-card-content-div-section">
        <section>
          <p>IDENTIFICACION: {{ customer.IDENTIFICACION }}</p>
          <p>CORREO: {{ customer.CORREO }}</p>
        </section>
      </div>
      <section [formGroup]="formEditCustomer" class="example-full-width example-form" appearance="fill"
        *ngIf="activateIdEdit == customer.ID_CLIENTES">
        <mat-form-field>
          <mat-label>Identificacion</mat-label>
          <input matInput formControlName="identification" required>
          <mat-error
            *ngIf="formEditCustomer.get('identification')?.invalid && (formEditCustomer.get('identification')?.dirty || formEditCustomer.get('identification')?.touched)">
            La Identificacion es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required>
          <mat-error
            *ngIf="formEditCustomer.get('name')?.invalid && (formEditCustomer.get('name')?.dirty || formEditCustomer.get('name')?.touched)">
            El Nombre es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input matInput formControlName="lastName" required>
          <mat-error
            *ngIf="formEditCustomer.get('lastName')?.invalid && (formEditCustomer.get('lastName')?.dirty || formEditCustomer.get('lastName')?.touched)">
            El Apellido es requeridas
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Correo</mat-label>
          <input matInput formControlName="email" required>
          <mat-error
            *ngIf="formEditCustomer.get('email')?.invalid && (formEditCustomer.get('email')?.dirty || formEditCustomer.get('email')?.touched)">
            El correo es requeridas
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Telefono</mat-label>
          <input matInput formControlName="phone" required>
          <mat-error
            *ngIf="formEditCustomer.get('phone')?.invalid && (formEditCustomer.get('phone')?.dirty || formEditCustomer.get('phone')?.touched)">
            El Telefono es requeridas
          </mat-error>
        </mat-form-field>
      </section>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button class="card_actions_button" color="primary" mat-raised-button mat-button
        (click)="handleEdit(customer)" *ngIf="activateIdEdit == undefined">Editar</button>
      <button class="card_actions_button" color="warn" mat-raised-button mat-button
        (click)="handleDelete(customer.ID_CLIENTES)" *ngIf="activateIdEdit == undefined">Eliminar</button>
      <button class="card_actions_button" color="accent" mat-raised-button mat-button
        (click)="handleEditSutmit( customer.ID_CLIENTES )" *ngIf="activateIdEdit == customer.ID_CLIENTES"
        [disabled]="formEditCustomer.invalid">Enviar</button>
      <button class=" card_actions_button" color="warn" mat-raised-button mat-button
        *ngIf="activateIdEdit == customer.ID_CLIENTES" (click)="handleCancel()">Cancelar</button>
    </mat-card-actions>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>
</div>
