<mat-divider></mat-divider>

<div class="card_comp_charge">
  <mat-card *ngFor="let sector of Sectors" class="example-card">
    <mat-card-header>
      <mat-card-subtitle>Sectores</mat-card-subtitle>
      <mat-card-title>{{sector.NAME}}</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p>numero de lotes: {{ sector.NUMERO_LOTE }}</p>
      <section [formGroup]="formEditSector" class="example-full-width example-form" appearance="fill"
        *ngIf="activateIdEdit == sector.ID_SECTOR">
        <mat-form-field>
          <mat-label>Nombre del sector</mat-label>
          <input matInput formControlName="name" required>
          <mat-error
            *ngIf="formEditSector.get('name')?.invalid && (formEditSector.get('name')?.dirty || formEditSector.get('name')?.touched)">
            El nombre es requerido
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Numero de lotes</mat-label>
          <input type="number" matInput formControlName="lotNumber" required>
          <mat-error
            *ngIf="formEditSector.get('lotNumber')?.invalid && (formEditSector.get('lotNumber')?.dirty || formEditSector.get('lotNumber')?.touched)">
            El numero de lotes es requerido
          </mat-error>
        </mat-form-field>
      </section>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <button class="card_actions_button" color="primary" mat-raised-button mat-button
      (click)="handleSee(sector.ID_SECTOR, sector.NAME)" >Ver</button>
      <button class="card_actions_button" color="primary" mat-raised-button mat-button
        (click)="handleEdit(sector.ID_SECTOR)" *ngIf="activateIdEdit == undefined">Editar</button>
      <button class="card_actions_button" color="accent" mat-raised-button mat-button
        (click)="handleSutmit(sector.ID_SECTOR)" *ngIf="activateIdEdit == sector.ID_SECTOR"
        [disabled]="formEditSector.invalid">Enviar</button>
      <button class="card_actions_button" color="warn" mat-raised-button mat-button *ngIf="activateIdEdit == undefined"
        (click)="handleDelete(sector.ID_SECTOR)">Eliminar</button>
      <button class=" card_actions_button" color="warn" mat-raised-button mat-button
        *ngIf="activateIdEdit == sector.ID_SECTOR" (click)="handleCancel()">Cancelar</button>
    </mat-card-actions>
    <mat-card-footer>
      <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
    </mat-card-footer>
  </mat-card>
</div>
