<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Usuario</mat-label>
      <input matInput formControlName="email" placeholder="Ingrese su usuario">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Ingresar</button>
  </form>
</div>
