.my-card {
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  max-width: 600px;
}

.my-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px 8px 0 0;
  padding: 16px;
}

.my-card-header-fech {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.my-card-header h2 {
  margin: 0;
}

.my-card-content {
  background-color: #ffffff;
  padding: 16px;
}

.my-card-title {
  margin-top: 0;
}

.my-card-subtitle {
  margin-bottom: 16px;
  margin-top: 0;
}

button {
  margin: 4px;
}
