<div #content>
  <div class="content-to-hide">
    <div class="my-card">
      <div class="my-card-header">
        <h2 class="my-card-title">Urbanizacion {{ inputDateInvice?.urbanization }}</h2>
        <h3 class="my-card-subtitle">Cel: 3128616426 - 3184554776</h3>
        <h3>{{inputDateInvice?.city}}</h3>
        <div class="my-card-header-fech">
          <p>Fecha: {{inputDateInvice?.date}}</p>
          <p>Recibo N°: {{ inputDateInvice?.numberReceipt }}</p>
        </div>
      </div>
      <div class="my-card-content">
        <p>Cliente: {{inputDateInvice?.client}}</p>
        <p>Identificacion: {{inputDateInvice?.identification}}</p>
        <p>Telefono: {{inputDateInvice?.phone}}</p>
        <p>Por concepto de: {{inputDateInvice?.concept}}</p>
        <p>Numero de lote: {{inputDateInvice?.lotNumber}}</p>
        <p>Valor: ${{inputDateInvice?.value | number}}</p>
      </div>
    </div>
  </div>
</div>
<button color="primary" mat-button (click)="generatePDF()">Generar PDF</button>
