mat-card {
  max-width: 1000px;
  max-height: 10000px;
  margin: 0px;
}
mat-icon {
  margin: 20px;
}
.content {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
