<div #content *ngIf="!allBills">
  <div class="content-to-hide">
    <div class="my-card">
      <div class="my-card-header">
        <h2 class="my-card-title">Urbanizacion {{ invoises![0]?.NAME }}</h2>
        <h3 class="my-card-subtitle">Cel: 3128616426 - 3184554776</h3>
        <h3>El Bordo - Cauca</h3>
        <div class="my-card-header-fech">
          <p>Fecha: {{ periodicElementGop![0]?.FECHA_DE_PAGO }}</p>
        </div>
      </div>
      <div class="my-card-content">
        <p>Trabajador: {{ periodicElementGop![0]?.NOMBRE }} {{ periodicElementGop![0]?.APELLIDO }}</p>
        <p>Identificacion: {{ periodicElementGop![0]?.IDENTIFICACION }}</p>
        <!-- <p>Por concepto de: {{ invoises[0]?.CONCEPTO }}</p>
        <p>Numero de lote: {{ invoises[0]?.NUMERO_LOTE }}</p> -->
        <p>Valor: ${{ periodicElementGop![0]?.VALOR_PAGO | number }}</p>
      </div>
    </div>
  </div>
</div>

<div #content *ngIf="allBills">
  <div id="app" class="col-11 all">
    <h2>Facturas</h2>
    <div class="row my-3">
      <div class="col-10">
        <h2></h2>
        <p>CONCEPTO: {{ invoises?.[0]?.CONCEPTO }}</p>
      </div>
      <div class="col-2">
        <!-- <img src="~/images/Mil-Pasos_Negro.png" /> -->
      </div>
    </div>

    <hr />

    <div class="row fact-info mt-3">
      <div class="col-3">
        <h5>Facturar a</h5>
        <p>Cliente: {{ periodicElementGop?.[0]?.NOMBRE ? periodicElementGop?.[0]?.NOMBRE : '' }} {{ periodicElementGop?.[0]?.APELLIDO ? periodicElementGop?.[0]?.APELLIDO : '' }}</p>
        <p>Identificacion: {{ periodicElementGop?.[0]?.IDENTIFICACION ? periodicElementGop?.[0]?.IDENTIFICACION : '' }}</p>
        <p>Numero de lote: {{ invoises?.[0]?.NUMERO_LOTE }}</p>
      </div>
    </div>

    <div class="row my-5">
      <table class="table table-borderless factura">
        <thead>
          <tr>
            <th>N°</th>
            <th>Fecha Pago</th>
            <th>N° de Identificacion</th>
            <th>Valor Pagos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let periodicElement of periodicElementGopArray; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ periodicElement?.FECHA_DE_PAGO }}</td>
            <td>{{ periodicElement?.IDENTIFICACION }}</td>
            <td>{{ periodicElement?.VALOR_PAGO }}</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>Total {{ totalPayment }}</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Valor total {{ periodicElementGop?.[0]?.VALOR_TOTAL }}</th>
            <th></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Saldo {{ (periodicElementGop?.[0]?.VALOR_TOTAL || 0) - (totalPayment || 0) }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<button color="primary" mat-button (click)="generatePDF()">Generar PDF</button>
