<section>
  <div class=" nav-seccion-div ">
    <button mat-raised-button >HOME</button>
    <button mat-raised-button >SECTORES</button>
    <button mat-raised-button >LOTES</button>
    <button mat-raised-button >GASTOS OPERACIONALES</button>
    <button mat-raised-button >TRABAJADORES</button>
    <button mat-raised-button >PAGOS</button>
  </div>
  <div class=" nav-seccion-div ">
    <button mat-raised-button color="primary">CLIENTES</button>
    <button mat-raised-button color="primary">VENTAS</button>
    <button mat-raised-button color="primary">COBROS</button>
  </div>
</section>
