<section>
  <div class=" nav-seccion-div ">
    <button routerLink="" mat-raised-button >HOME</button>
    <button routerLink="sectors" mat-raised-button >SECTORES</button>
    <button routerLink="sales" mat-raised-button >VENTAS</button>
    <button routerLink="payments" mat-raised-button >PAGOS</button>
    <button routerLink="charges" mat-raised-button >COBROS</button>
  </div>
  <!-- <div class=" nav-seccion-div ">
    <button routerLink="customer" mat-raised-button color="primary">CLIENTES</button>
    <button routerLink="sales" mat-raised-button color="primary">VENTAS</button>
    <button routerLink="charges" mat-raised-button color="primary">COBROS</button>
  </div> -->
</section>


