<div #content *ngIf="allBills">
  <div class="content-to-hide">
    <div class="my-card">
      <div class="my-card-header">
        <h2 class="my-card-title">Urbanizacion {{ inputDateInvice?.urbanization }}</h2>
        <h3 class="my-card-subtitle">Cel: 3128616426 - 3184554776</h3>
        <h3>{{inputDateInvice?.city}}</h3>
        <div class="my-card-header-fech">
          <p>Fecha: {{inputDateInvice?.date}}</p>
          <p>Recibo N°: {{ inputDateInvice?.numberReceipt }}</p>
        </div>
      </div>
      <div class="my-card-content">
        <p>Cliente: {{inputDateInvice?.client}}</p>
        <p>Identificacion: {{inputDateInvice?.identification}}</p>
        <p>Telefono: {{inputDateInvice?.phone}}</p>
        <p>Por concepto de: {{inputDateInvice?.concept}}</p>
        <p>Numero de lote: {{inputDateInvice?.lotNumber}}</p>
        <p>Valor: ${{inputDateInvice?.value | number}}</p>
      </div>
    </div>
  </div>
</div>

<div #content *ngIf="!allBills">
  <div id="app" class="col-11 all">
    <h2>Facturas</h2>
    <div class="row my-3">
      <div class="col-10">
        <h2>{{ inputDateInvice ? inputDateInvice!.urbanization : '' }}</h2>
        <p>CONCEPTO: {{ inputDateInvice ? inputDateInvice!.concept : '' }} </p>
      </div>
      <div class="col-2">
        <!-- <img src="~/images/Mil-Pasos_Negro.png" /> -->
      </div>
    </div>

    <hr />

    <div class="row fact-info mt-3">
      <div class="col-3">
        <h5>Facturar a</h5>
        <p>Cliente: {{inputDateInvice?.client}}</p>
        <p>Identificacion: {{inputDateInvice?.identification}}</p>
        <p>Telefono: {{inputDateInvice?.phone}}</p>
        <p>Numero de lote: {{inputDateInvice?.lotNumber}}</p>
      </div>
    </div>

    <div class="row my-5">
      <table class="table table-borderless factura">
        <thead>
          <tr>
            <th>N°</th>
            <th>Fecha Pago</th>
            <th>N° factura</th>
            <th>Valor Pagos</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let InvoicesForCollection of totalInvoicesForCollection; let i = index">
            <td>{{ i + 1 }}</td>
            <td class="td_padding">{{ InvoicesForCollection.FECHA_PAGO }}</td>
            <td>{{ InvoicesForCollection.NUMERO_FACTURA }}</td>
            <td>{{ InvoicesForCollection.VALOR_COBRO | number}}</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th>Total</th>
            <th>{{ totalSales ? (totalSales | number) : '' }}</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Valor lote</th>
            <th>{{ datalot.lotValue ? (datalot.lotValue | number) : '' }}</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>Saldo</th>
            <th>{{ datalot.lotValue ? (datalot.lotValue - totalSales | number) : '' }}</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<button color="primary" mat-button (click)="generatePDF()">Generar PDF</button>
